.app {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 80%;
  border: 1px solid rgba(99, 99, 160, 0.161);
  border-radius: 9px;
  padding: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
