html {
  background-color: rgba(176, 193, 210, 0.247);
  height: 100em;
  margin: 0;
}

a {
  text-decoration: none;
  color: navy;
}

li {
  list-style: none;
  padding: 4px;
}

button {
  margin: 10px;
}

hr {
  color: rgb(199, 191, 229);
}

#home {
  display: flex;
  flex-direction: column;
}
.app {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 80%;
  border: 1px solid rgba(99, 99, 160, 0.161);
  border-radius: 9px;
  padding: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid rgba(0, 0, 255, 0.163);
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.savedQuote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title,
#randomQuote {
  text-align: center;
}

#title {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 28px;
}

#quoteText {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

#savedQuotesTitle {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

#addNoteContainer {
  border: 1px solid rgba(154, 154, 154, 0.361);
  border-radius: 10px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

#addNoteForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#addNoteForm button {
  width: fit-content;
}

#actionBtns {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
